 .auth-page-wrapper {
     display: flex !important;
     flex-direction: row !important;
     justify-content: center !important;
     align-items: center !important;
     min-height: 80%;
     width: 100%;
     background-color: #f4f7f6;
     padding: 20px 0;
 }

 .auth-container {
     /* Resetarea proprietatilor  */
     all: initial;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     background: white;
     padding: 40px;
     border-radius: 12px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
     max-width: 400px;
     width: 90%;
     position: relative;
     overflow: hidden;
 }

 /* Titlul */
 .auth-container h2 {
     text-align: center;
     margin-bottom: 30px;
     color: #333;
     font-weight: 600;
 }

 /* Grupare input */
 .auth-input-group {
     margin-bottom: 20px;
 }

 /* Label-uri */
 .auth-container label {
     display: block;
     margin-bottom: 8px;
     font-weight: 400;
     color: #555;
 }


 .auth-container input[type="text"],
 .auth-container input[type="email"],
 .auth-container input[type="password"] {
     /* Resetarea proprietatilor mostenite */
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;

     width: 100%;
     padding: 12px 15px;
     border: 1px solid #ddd;
     border-radius: 8px;
     box-sizing: border-box;
     transition: border-color 0.3s;
 }

 .auth-container input:focus {
     border-color: #8f06b9;
     outline: none;
 }

 /* Butonul de submit */
 .auth-submit-btn {
     width: 100%;
     padding: 12px;
     background-color: #8f06b9;
     color: white;
     border: none;
     border-radius: 8px;
     font-size: 16px;
     cursor: pointer;
     transition: background-color 0.3s, transform 0.1s;
     font-weight: 600;
 }

 .auth-submit-btn:hover {
     background-color: #d555eb;
 }

 /* Mesajul de schimbare formular  */
 .auth-switch-form {
     text-align: center;
     margin-top: 25px;
     font-size: 14px;
 }

 .auth-switch-form a {
     color: #d555eb;
     text-decoration: none;
     font-weight: 600;
 }


 .form-box {
     transition: transform 0.5s ease-in-out;
     position: absolute;
     width: 100%;
     top: 0;
     left: 0;
     padding: 40px;
     box-sizing: border-box;
 }

 .login-box {
     transform: translateX(0);
 }

 .signup-box {
     transform: translateX(100%);
 }

 .form-box.active {
     position: relative;
     transform: translateX(0);
 }

 /* Responsivitate*/
 @media (max-width: 480px) {
     .auth-container {
         padding: 25px;
         border-radius: 0;
         width: 100%;
         max-width: none;
         box-shadow: none;
         position: relative;
         overflow: hidden;
     }
 }